node_modules/
workspaces/
.tmp-schema/
tmp/

*.log
*.out.log
*.err.log

docs/

reporte_cnc_tech_formativo/**/*.aux
reporte_cnc_tech_formativo/**/*.fdb_latexmk
reporte_cnc_tech_formativo/**/*.fls
reporte_cnc_tech_formativo/**/*.synctex.gz
reporte_cnc_tech_formativo/**/*.toc
reporte_cnc_tech_formativo/**/*.lof
reporte_cnc_tech_formativo/**/*.lot

**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.synctex.gz

public_tunnel_*.log